/*
    Css - Selector 
    - Tag selector(0,0,1)
    - Id selector(1,0,0)unique one
    - class Selector(0,1,0) !unique one
    - Universal Selector(0,0,0)
    - Grouping Selector(0,0,0)
*/
/* *{
    font-family: 'Times New Roman', Times, serif;
    background-color: whitesmoke;
}
h1{
    color: green;
}

p{
    color: blue;
    font-size: large;
}
#java{
    font-family: 'Times New Roman', Times, serif;
    color: rebeccapurple;
}

.python{
    color: chocolate;
}

h3 ,p{
    font-family: 'Times New Roman', Times, serif;
}  */