body {
  font-family: Arial;
  margin: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  background: #2ecc71;
  color: white;
}

.navbar a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

.products {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.card {
  border: 1px solid #ddd;
  padding: 15px;
  width: 180px;
}

.cart {
  padding: 20px;
}

.cart-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}